In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

warnings.filterwarnings("ignore")
pd.set_option('display.max_columns', 39)

In [2]:
url = 'https://raw.githubusercontent.com/ryanrodr/ml-heart-disease/main/dados/heart_statlog_cleveland_hungary_final.csv'

df = pd.read_csv(url)

In [3]:
df.shape

(1190, 12)

In [4]:
df.head()

,age,sex,chest pain type,resting bp s,cholesterol,fasting blood sugar,resting ecg,max heart rate,exercise angina,oldpeak,ST slope,target
0,40,1,2,140,289,0,0,172,0,0.0,1,0
1,49,0,3,160,180,0,0,156,0,1.0,2,1
2,37,1,2,130,283,0,1,98,0,0.0,1,0
3,48,0,4,138,214,0,0,108,1,1.5,2,1
4,54,1,3,150,195,0,0,122,0,0.0,1,0

In [5]:
tb_frequencia_sexo = pd.crosstab(index=df['sex'], columns=df['target'])\
                .rename(columns={0: 'Normal', 1: 'Doença'})\
                    .rename_axis('Sexo')\
                        .rename(index={0: 'Feminino', 1: 'Masculino'})

tb_frequencia_sexo

target     Normal  Doença
Sexo
Feminino      211      70
Masculino     350     559

In [6]:
tb_frequencia_sexo = tb_frequencia_sexo.reset_index()\
                                        .melt(id_vars='Sexo',
                                                value_vars=['Normal', 'Doença'],
                                                var_name='Condição',
                                                value_name='Frequência')
tb_frequencia_sexo

        Sexo Condição  Frequência
0   Feminino   Normal         211
1  Masculino   Normal         350
2   Feminino   Doença          70
3  Masculino   Doença         559